<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>메인페이지</title>
  <link th:href="@{/css/globals.css}" href="../static/css/globals.css" rel="stylesheet">
  <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet">
</head>
<body>
  <div th:insert="fragments/navigation/topBar :: topBar"></div>
  <p>중간바</p>

  <div class="container">
    <div class="box">
      <div class="content-box">
        <div class="list">
          <div class="title-box">
            <h2>모집중인 이벤트 모임</h2>
            <hr>
          </div>
          <div class="event-list">
            <div th:insert="fragments/event/list :: list"></div>
            <div th:insert="fragments/event/list :: list"></div>
            <div th:insert="fragments/event/list :: list"></div>
          </div>
        </div>
        <div class="add-data-box">
          <form th:action="@{/add-data-button}" method="get">
            <button id="add-data-button" type="submit">데이터 추가 버튼</button>
          </form>
        </div>
        <div class="search-box">
          <input type="text" class="search-input" placeholder="검색어를 입력하세요.">
          <button class="search-button">검색</button>
        </div>
        <div class="list">
          <div class="title-box">
            <h2>메뉴</h2>
            <hr>
          </div>
          <div class="menu-list">
            <div th:insert="fragments/menu/list :: list"></div>
            <div th:insert="fragments/menu/list :: list"></div>
            <div th:insert="fragments/menu/list :: list"></div>
            <div th:insert="fragments/menu/list :: list"></div>
            <div th:insert="fragments/menu/list :: list"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>