<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>DB Cafe</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/level.css}" type="text/css"/>
    </head>
    <body>
        <div id="navbar">
            <div class="wrap">
                <div class="item">
                    <img th:src="@{/image/cafeLogo.png}" alt="이미지 로딩 실패"/>
                </div>
                <div class="item"> <strong> 메뉴 </strong> </div>
                <div class="item"> <strong> 예약 </strong> </div>
                <div class="item"> <strong> 랭킹 </strong> </div>
                <div class="item"> <strong> 뽑기 </strong> </div>
                <div class="item"> <strong> 이벤트 </strong> </div>
                <div class="item"> <strong> 교환권 </strong> </div>
                <div class="search">
                    <img th:src="@{/image/userPage.png}" alt="이미지 로딩 실패"/>
                </div>
                <div class="cart">
                    <img th:src="@{/image/logOut.png}" alt="이미지 로딩 실패"/>
                </div>
            </div>
        </div>
        <div id="basic">
            <div class="pageLable">
                <span>
                    등급 설정 페이지
                </span>
            </div>
            <hr class="detail_hr">
            <div class="tableBox">
                <table class="statList">
                    <thead>
                        <tr>
                            <th class="leftTab">등급</th>
                            <th>회원 수</th>
                            <th>총 할인액</th>
                            <th>평균 할인액</th>
                            <th>할인율</th>
                            <th>상위 %</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="">
                            <td class="leftTab" th:text="'등급명'"></td>
                            <td th:text="'00'"></td>
                            <td th:text="'000,000'"></td>
                            <td th:text="'0,000'"></td>
                            <td th:text="'00%'"></td>
                            <td th:text="'00'"></td>
                            <td>
                                <div class="btnGroup">
                                    <button type="submit" class="btn">
                                        <div class="corBtn">
                                            수정
                                        </div>
                                    </button>
                                    <button type="submit" class="btn">
                                        <div class="delBtn">
                                            삭제
                                        </div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="statBox">
                <div class="thBox">
                    <table class="statTh">
                        <thead>
                            <tr>
                                <th>전체 회원 수</th>
                                <th>전체 총 할인액</th>
                                <th>전체 총 평균 할인액</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="contBox">
                    <table class="statCont">
                        <tbody>
                            <tr>
                                <td th:text="'0,000'"></td>
                                <td th:text="'0,000,000'"></td>
                                <td th:text="'00,000'"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
