<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>DB Cafe</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/adminPrize.css}" type="text/css"/>
    </head>
    <body>
        <div id="navbar">
            <div class="wrap">
                <div class="item">
                    <img th:src="@{/image/cafeLogo.png}" alt="이미지 로딩 실패"/>
                </div>
                <div class="item"> <strong> 메뉴 </strong> </div>
                <div class="item"> <strong> 예약 </strong> </div>
                <div class="item"> <strong> 랭킹 </strong> </div>
                <div class="item"> <strong> 뽑기 </strong> </div>
                <div class="item"> <strong> 이벤트 </strong> </div>
                <div class="item"> <strong> 교환권 </strong> </div>
                <div class="search">
                    <img th:src="@{/image/userPage.png}" alt="이미지 로딩 실패"/>
                </div>
                <div class="cart">
                    <img th:src="@{/image/logOut.png}" alt="이미지 로딩 실패"/>
                </div>
            </div>
        </div>
        <div id="basic">
            <div class="pageLable">
                <span>
                    뽑기 상품 정보 등록
                </span>
            </div>
            <hr class="detail_hr">
            <form th:action method="post">
                <div class="infoBox">
                    <span>
                        상품 타입
                    </span>
                    <div class="btnBox">
                        <div class="coinGroup">
                            <img th:src="@{/image/coinImage.png}" alt="이미지 로딩 실패">
                            <button type="button" class="btn">
                                <div class="coinBox">
                                    <input type="radio" name="isCoin" value=true id="c">
                                    <label for="c">코인</label>
                                </div>
                            </button>
                        </div>
                        <div class="pointGroup">
                            <img th:src="@{/image/pointImage.png}" alt="이미지 로딩 실패">
                            <button type="button" class="btn">
                                <div class="pointBox">
                                    <input type="radio" name="isCoin" value=false id="p">
                                    <label for="p">포인트</label>
                                </div>
                            </button>
                        </div>
                    </div>
                    <span>
                        상품명
                    </span>
                    <input type="text" placeholder="상품 이름을 입력하세요." name="name" id="name">
                    <span>
                        수량
                    </span>
                    <input type="text" placeholder="수량을 입력하세요." name="value" id="value">
                    <span>
                        확률
                    </span>
                    <input type="text" placeholder="확률을 입력하세요." name="probability" id="probability">
                    <div class="regGroup">
                        <button type="submit" class="btn">
                            <div class="regBox">
                                상품 등록 하기
                            </div>
                        </button>
                    </div>
                </div>
            </form>

            <div class="pageLable">
                <span>
                    등록된 상품
                </span>
            </div>
            <hr class="detail_hr">
            <div class="tableBox">
                <table>
                    <thead>
                        <tr>
                            <th class="leftTab"></th>
                            <th>상품명</th>
                            <th>수량</th>
                            <th>상품 타입</th>
                            <th>확률</th>
                            <th></th>
                        </tr>
                    </thead>
                    <form th:action method="post">
                        <tbody>
                            <th:block th:each="prize: ${prizes}">
                                <tr>
                                    <form th:action method="post">
                                        <td class="leftTab" th:text="${prize.id}"></td>
                                        <td th:text="${prize.name}"></td>
                                        <td th:text="${prize.value}"></td>
                                        <td th:text="${prize.isCoin()}"></td>
                                        <td th:text="${prize.probability}"></td>
                                        <td class="btnGroup">
                                            <button type="submit" class="btn">
                                                <div class="corBtn">
                                                    수정
                                                </div>
                                            </button>
                                            <button type="button" class="btn">
                                                <div class="delBtn">
                                                    삭제
                                                </div>
                                            </button>
                                        </td>
                                    </form>
                                </tr>
                        </th:block>
                        </tbody>
                    </form>
                </table>
            </div>
        </div>
    </body>
</html>
