<!DOCTYPE html>
<html>
    <head>
        <title>DB Cafe</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/reservationRejectionForm.css' />
    </head>
    <body>
        <div id="navbar">
            <div class="wrap">
                <div class="item">
                    <img src="images/cafeLogo.png"> 
                </div>
                <div class="item"> <strong> 메뉴 </strong> </div>
                <div class="item"> <strong> 예약 </strong> </div>
                <div class="item"> <strong> 랭킹 </strong> </div>
                <div class="item"> <strong> 뽑기 </strong> </div>
                <div class="item"> <strong> 이벤트 </strong> </div>
                <div class="item"> <strong> 교환권 </strong> </div>
                <div class="search">
                    <img src="images/userPage.png">
                </div>
                <div class="cart">
                    <img src="images/logOut.png">
                </div>
            </div>
        </div>
        <div id="basic">
            <div class="pageLable">
                <span>
                    예약 취소 알림 및 보상
                </span>
            </div>
            <hr class="detail_hr">

            <div class="smallLable">
                <span>
                    지급 대상 정보
                </span>
                <hr>
            </div>
            <div class="infoBox">
                <table>
                    <tr>
                        <td class="leftTab">회원 번호</td><td>: 00</td>
                    </tr>
                    <tr>
                        <td class="leftTab">회원 아이디</td><td>: 아이디 들어갈 부분</td>
                    </tr>
                    <tr>
                        <td class="leftTab">회원 이름</td><td>: 이름 들어갈 부분</td>
                    </tr>
                    <tr>
                        <td class="leftTab">회원 연락처</td><td>: 연락처 들어갈 부분</td>
                    </tr>
                    <tr>
                        <td class="leftTab">회원 등급</td><td>: 등급 들어갈 부분</td>
                    </tr>
                </table>
            </div>


            <div class="smallLable">
                <span>
                    지급 쿠폰 선택
                </span>
                <hr>
            </div>
            <div class="infoCoupon">
                <span>
                    쿠폰명
                </span>
                <select name="" id="">
                    <option selected value="false">지급할 쿠폰을 선택해 주세요. </option>
                    <option value="">첫 구매 할인 쿠폰</option>
                    <option value="">연말할인 쿠폰</option>
                </select>
                <div class="sale">
                    <span>
                        할인율: 
                    </span>
                    00%
                </div>
            </div>



            <div class="smallLable">
                <span>
                    지급 코인 선택
                </span>
                <hr>
            </div>
            <div class="coin">
                <button type="submit" class="btn">
                    <div class="minus">
                        -
                    </div>
                </button>
                갯수
                <button type="submit" class="btn">
                    <div class="plus">
                        +
                    </div>
                </button>
            </div>

            <div class="smallLable">
                <span>
                    사유
                </span>
                <hr>
            </div>
            <div class="textBox">
                <textarea cols="85" rows="5" placeholder="취소 사유를 입력해주세요."></textarea>
            </div>

            <div class="cent">
                <button type="submit" class="btn">
                    <div class="checBtn">
                        확인
                    </div>
                </button>
            </div>
        </div>
    </body>
</html>