<!DOCTYPE html>
<html>
    <head>
        <title>DB Cafe</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/userPrize.css' />
    </head>
    <body>
        <div id="navbar">
            <div class="wrap">
                <div class="item">
                    <img src="images/cafeLogo.png"> 
                </div>
                <div class="item"> <strong> 메뉴 </strong> </div>
                <div class="item"> <strong> 예약 </strong> </div>
                <div class="item"> <strong> 랭킹 </strong> </div>
                <div class="item"> <strong> 뽑기 </strong> </div>
                <div class="item"> <strong> 이벤트 </strong> </div>
                <div class="item"> <strong> 교환권 </strong> </div>
                <div class="search">
                    <img src="images/userPage.png">
                </div>
                <div class="cart">
                    <img src="images/logOut.png">
                </div>
            </div>
        </div>
        <div id="basic">
            <div class="content">
                <div class="prizeList">
                    <span> 상품 목록 </span>
                    <hr class="detail_hr">
                    <span> 상품명 </span>
                    <span> 상품명 </span>
                    <span> 상품명 </span>
                    <span> 상품명 </span>
                </div>
                <div class="gameContent">
                    <div class="gameBoxImage">
                        <img src="images/GameImage.jpg" alt="">
                    </div>
                    <div class="text">
                        <span> 오늘 도전 가능 횟수: </span>
                        <span> 보유 중인 코인 갯수: </span>
                    </div>
                    <button type="submit" class="btn">
                        <div class="gameBtn">
                            <div class="leftBox">
                                <img src="images/coinImage.png" alt="">
                                <span> x 숫자 </span>
                            </div>
                            <div class="rightBox">
                                <span> 뽑기 도전</span>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>