<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>예약 시간 선택 페이지</title>
  <link th:href="@{/css/globals.css}" href="../static/css/globals.css" rel="stylesheet">
  <link th:href="@{/css/reservation.css}" href="../static/css/reservation.css" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/navigation/topBar :: topBar"></div>
<div class="container">
  <div class="box">
    <div class="content-box">
      <div class="date-box">
        <h2 id="dateHeader">0000-00-00 0요일</h2>
        <a th:href="@{/reservation-block}" class="chooeseButton">선택일자 변경하기</a>
      </div>
      <div class="time-container">
        <hr>
        <h3>시간대 선택</h3>
        <form id="reservationForm" method="get">
          <ul class="time-ul" th:each="time : ${times}">
            <li class="time-li" th:if="${time.isBookable}">
              <span th:text="${time.startTime+ '~' + time.endTime}">00:00 ~ 00:00</span>
              <p th:text="${time.startTime}" name="startTime">0</p>
              <p th:text="${time.endTime}" name="endTime">0</p>
              <input type="radio" name="selectedTime" th:value="${time.startTime + ',' + time.endTime}" />
            </li>
          </ul>
          <input type="hidden" name="date" th:value="${dateParam}" />
          <button type="button" onclick="submitForm()" class="reservationButton">예약 정보 입력하기</button>
        </form>
      </div>
      <div class="footer-box">
        <div class="text-box">
          <p class="content-text">* 월~목요일은 주중 할인 혜택(5%)이 적용 됩니다.</p>
          <p class="content-text">* 얼리버드 할인은 2주 전에 예약하면 할인 혜택(5%)이 적용됩니다.</p>
          <p class="content-text">* 할인율은 시기에 따라 변동 될 수 있습니다.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function () {
  // URL에서 date 파라미터 추출
  const urlParams = new URLSearchParams(window.location.search);
  const dateParam = urlParams.get('date');

  // 날짜 헤더 업데이트
  const dateHeader = document.getElementById('dateHeader');
  if (dateHeader && dateParam) {
    dateHeader.innerText = dateParam + ' ' + getDayOfWeek(dateParam);
  }
});

function getDayOfWeek(dateString) {
  const daysOfWeek = ['일', '월', '화', '수', '목', '금', '토'];
  const date = new Date(dateString);
  const dayOfWeekIndex = date.getDay();
  return daysOfWeek[dayOfWeekIndex];
}

function submitForm() {
  var selectedTime = document.querySelector('input[name="selectedTime"]:checked');
  if (selectedTime) {
    var startTime = selectedTime.previousElementSibling.previousElementSibling.textContent.trim();
    var endTime = selectedTime.previousElementSibling.textContent.trim();
    var dateParam = document.querySelector('input[name="date"]').value;

    var redirectUrl = '/reservation?date=' + dateParam + '&startTime=' + startTime + '&endTime=' + endTime;
    window.location.href = redirectUrl;
  } else {
    alert("시간을 선택하세요.");
  }
}
</script>
</body>
</html>
